 .header {
    background-color: #e2e8f0; /* bg-gray-300 */
}
.main-image {
    opacity: 0.7;
}
.main-text {
    color: white;
}

main div h1{
    color: #610C0C;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
    display: flex;   
}

footer{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    color: rgb(0, 0, 0);
}


body{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img{
    width: 120px;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
}

nav a:hover{
    background-color: orange;
    transition: 0.3s;
}

.titulo{
    font-size: 30px;
    text-align: center;
}

footer{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (width <= 480px){

    nav{
        flex-direction: column;
    }

    .container{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .container img{
        width: 90%;
    }

}